.circle {
  width: 20px;
  height: 20px;
  background-color: cornflowerblue;
  border-radius: 50%;

  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@for $iterador from 1 through 5 {
  .circle-#{$iterador} {
    animation-name: animacion#{$iterador};

    @keyframes animacion#{$iterador} {
      100% {
        transform: translate(50% * $iterador);
      }
    }

    @if $iterador == 5 {
      animation-direction: alternate-reverse;
    }
  }
}